body {
    background-color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    font-style: white;
    color: white;
    width: 100vw;
}

.inner-flip-container {
    background-color: black;
    width: 100px;
    height: 100px;
}

.front-flipped {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transition: 0.4s;
}
